table tbody, table thead {display: block;}

table tbody{ overflow: auto; height: 300px;}

th {width: 100%; width: 33.33%; }

td {width: 100%; width: 33.33%; }



h1 {color: #000000}
h2 {color: #0579fc}
h3 {color: #2387fa}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {background-color: #2387fa; border-color: #2387fa}